@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply font-light;
    @apply h-[100vh];
    @apply bg-[#efeeed];
  }
  
}

@layer components{
  p.pagetitle{
    @apply text-2xl inline border-b-4 border-[#979795];
  }
  p.content-title{
    @apply text-2xl inline border-b-4 border-[#979795] text-right;
  }
  div.skillbox{
    @apply shadow-md shadow-[#c3bdb3] hover:scale-110 duration-500;
  }
  div.menu-div li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

/* HOME PAGE */

.content-div{
  background-repeat: none;
  background-size: cover;
  height: 250px;
}

.content-div:hover{
  background-image: linear-gradient(
    to right,
    rgba(227, 227, 213, 0.836),
    hsla(58, 20%, 71%, 0.8)
  )!important;
}

input:focus, textarea:focus{
  border: 2px solid #6a6a68;
  outline: none;
}

input, textarea{
  border: 2px solid #efeeed;
  outline: none;
}

/* Inner Pages */

.content-page{

  color: rgb(55 65 81);
  width: 100%;
  padding-top: 6em;
  padding-bottom: 4em;
  padding-left: 4em;
  padding-right: 4em;
}

.project-meta{
  text-align: right;
  padding-top: 2em;
}

ul.tech-ul li{
  padding-bottom: 10px;
}